<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="data:,">
    <title>Title</title>
    <meta http-equiv="refresh" content="60">
    {% include "analytics.html" %}
</head>
<body>
<a href="../../">HOME</a>
<br>
<h2>{{ grid }}</h2>
<div class="row">
    <div class="column">
        <h4>Players | {{ players|length }} Online<br>
            ----------------------------------------------------------<br>
        </h4>
        <table>
            <th>Name</th>
            <th>Duration</th>
            {% for player in players|reverse %}
                <tr>
                    <td>{{ player["name"] }}</td>
                    <td>{{ player["duration"]|int }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="column">
        <h4>Ships<br>
            ----------------------------------------------------------<br>
        </h4>
        {% for ship in ships %}
            <b>Ship {{ loop.index }} | Came From: {{ ship["source_grid"] }}</b>
            <ol>
                {% for player in ship["players"] %}
                    <li>{{ player }}</li>
                {% endfor %}
            </ol>
        {% endfor %}
    </div>
</div>
</body>
</html>

<style>
    .column {
        float: left;
        width: 50%;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    body {
        background-image: url("/static/images/lb-bg.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

</style>