        <b><a href="search">Player Search</a> is now live!</b>
        <br><br>

        <b>For Development Updates: </b><a href='https://discord.gg/VCSDdaC'>Join Discord</a><br>
        <b>Like the tool? Want to help cover server costs? <a href="https://www.patreon.com/reznok">Support It On Patreon!</a></b><br>
        <b>There's NO NEED TO SCRAPE THE SITE! Just get the data from: <a href="/na_pvp_players.json">HERE</a> (NA) or <a href="/eu_pvp_players.json">HERE</a> (EU)</b><br>
        <b> Jan 8, 12:05AM UTC: The JSON object structure has changed. Adjust your tools accordingly, it shouldn't change again.</b><br>
        <b>Improved Ship Tracking Is Live!</b> Grid information (click a Grid) now displays what grid each ship came from.
        <br><br>
