<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="data:,">
    <title>Atlas Player Tracker</title>
    <meta http-equiv="" content="60;URL='?refresh'" />
    {% include "analytics.html" %}
</head>
<body>
<title>Atlas Tracker</title>
<h3>Reznok's Atlas Tracker</h3>
{% if not view %}
    {% include "header.html" %}
{% else %}
{% endif %}
<b>{{ server }} | <a href="
        {% if server_region == "na" %}
        /eu/
        {% endif %}
        {% if server_region == "eu" %}
        /
        {% endif %}
        ">[switch]</a></b><br>
<br>
<b>[Player Heat Map]</b> | <a href="ship">Ship Heat Map</a><br><br>

<b>Green:</b> 0-49 Players<br>
<b>Yellow:</b> 50-99 Players<br>
<b>Red:</b> 100+ Players<br><br>


<b>Players Online:</b>{{ player_count }} <a href="search">[search]</a>
<br><br>
<div class="left_column">
    <table border="1">
        {% for column in grid_numbers %}
            <tr>
                {% for row in grid_letters %}
                    {% if  grid_dict[row + column|string] is defined %}
                        {% if  grid_dict[row + column|string]["players"]|length == 0 %}
                            <td>
                                {% elif grid_dict[row + column|string]["players"]|length < 50 %}
                            <td class="green">
                                {% elif grid_dict[row + column|string]["players"]|length < 100 %}
                            <td class="yellow">
                                {% elif grid_dict[row + column|string]["players"]|length >= 100 %}
                            <td class="red">
                                {% else %}
                            <td>
                        {% endif %}
                    {% else %}
                        <td class="white">
                    {% endif %}
                <center>
                    {% if labels[row + column|string] is defined %}
                        <span class="grid_label">[{{ labels[row + column|string] }}]</span><br>
                    {% endif %}
                    <a href="grid/{{ row }}{{ column }}/">{{ row }}{{ column }}</a><br>
                    {% if grid_dict[row + column|string] is defined %}
                        <b>Players:</b> {{ grid_dict[row + column|string]["players"]|length }}
                        {% if grid_ships["grids"][row + column|string]["ships"]|length > 0 %}
                            <b><br>Ships: </b> {{ grid_ships["grids"][row + column|string]["ships"]|length }}
                        {% endif %}
                        </center>
                    {% else %}
                        ERROR
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
        {% endfor %}
        <tr></tr>
    </table>
</div>
</body>
</html>

<style>
    th, td {
        border: 1px solid black;
        width: 90px;
        height: 60px;
    }

    .red {
        background-color: rgba(255, 0, 0, .5);
    }

    .yellow {
        background-color: rgba(255, 255, 51, .5);
    }

    .green {
        background-color: rgba(0, 255, 0, .5);
    }

    .white {
        background-color: rgba(0, 0, 0, .5);
    }

    body {
        background-image: url("/static/images/lb-bg.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .grid_label {
        font-size: .75em;
        font-weight: bold;
        float: top;
    }

</style>
