<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="data:,">
    <title>Atlas Player Tracker</title>
    {% include "analytics.html" %}
</head>
<body>
<a href="../">HOME</a>
<br>
<h3>Reznok's Atlas Tracker</h3>
<br>
The search will return what grid the player is in. Wildcard search will retrieve any name that contains the search query.<br>
Example: "nok" would return "Reznok" and "Anokit"
<br>
<br>
Currently case sensitive, but a toggle coming soon.
<br><br>
<form method="get" action="#">
    <label for="name">Player Name: </label>
        <input type="text" name="name" id="name"> <input type="checkbox" name="wild" checked> Wildcard Search&nbsp;&nbsp;<input type="submit" value="Go"/>

</form>
<br>
<table border="1">
    <tr> <th>Name</th> <th>Location</th> </tr>
    {% for result in results %}
        <tr><td>{{ result["name"] }}</td><td><a href="../grid/{{ result["grid"] }}">{{ result["grid"] }}</a></td></tr>
    {% endfor %}

</table>
</body>
</html>




<style>
    body {
        background-image: url("/static/images/lb-bg.jpg");
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
    }

</style>